<!--  Title  -->
<div class="WR_PageTitle">
<h1><i class="fa fa-chevron-circle-right"></i> Add New Plant</h1>
</div>
<!--  Title  -->



<!--  FORM  -->
<div class="WR_Form">
<div class="row">
<div class="col-md-12">

<!-- Error Messages -->
<div class="bg-danger wr_error_messages" ng-show="plantForm.$invalid && submitted">
<ul class="lst-errors">
<li ng-show="plantForm.plant_name.$invalid && submitted">Plant name could not be blank!</li>
</ul>
</div>
<!-- Error Messages -->

<form name="plantForm" class="form-inline" ng-keypress="keyPress($event)" ng-submit="addPlant(plantForm.$valid)" novalidate>
   
   <div class="form-group" ng-class="{ 'has-error' : plantForm.plant_name.$invalid && submitted}">
   <label for="txtCompany" >Plant Name </label>
   <input type="text" class="form-control" id="txtCompany" name="plant_name" ng-model="plant.plant_name" required>
   </div>
   
   <div class="form-group" >
   <label for="txtfullname">Plant Description</label>
   <input type="text" class="form-control" id="txtfullname" name="plant_description" ng-model="plant.plant_description" >
   </div>
   
   <button type="submit" class="btn btn-green btn-form" >Submit</button>
   
</form>


</div>
</div>
</div>
<!--  FORM  --> 