
<!--  Title  -->
<div class="WR_PageTitle">
<h1><i class="fa fa-chevron-circle-right"></i> New Order</h1>
</div>
<!--  Title  -->



<!--  FORM  -->
<div class="WR_Form">
<div class="row">
<div class="col-md-12">

<form class="form-inline">
   <div class="form-group">
   <label for="txtcustomer">Customer</label>
   <input type="text" class="form-control" id="txtcustomer" >
   </div>
   
   <div class="form-group">
   <label for="txtsuplier">Suplier</label>
      <select class="form-control" id="txtsuplier">
        <option>Suplier 1</option>
        <option>Suplier 2</option>
        <option>Suplier 3</option>
        <option>Suplier 4</option>
      </select>
   </div>
   
   <div class="form-group">
   <label for="txtplant">Plant</label>
   <select class="form-control" id="txtplant">
        <option>Plant 1</option>
        <option>Plant 2</option>
        <option>Plant 3</option>
        <option>Plant 4</option>
      </select>
   </div>
   
   <div class="form-group">
   <label for="txtpikup">Pick-Up</label>
   <input type="text" class="form-control" id="txtpikup">
   </div>
   
   <div class="form-group">
   <label for="txtPickupDate">Pick-Up Date</label>
   <input class="form-control" size="16" type="text" value="Select Date" ID="dp1">
   </div>
   
   <div class="form-group">
   <label for="txtArrivalDate">Arrival Day</label>
   <input class="form-control" size="16" type="text" value="Select Date" ID="dp2">
   </div>
   
 <div class="form-group">
   <label for="txtStack">Stack</label>
   <input type="text" class="form-control" id="txtStack" >
   </div>
   
   
   <div class="form-group">
   <label for="txtComents">Comments</label>
   <textarea class="form-control" rows="1"></textarea>
   </div>
   
   <button type="submit" class="btn btn-green btn-form">Submit</button>
   
</form>


</div>
</div>
</div>
<!--  FORM  --> 