
<!--  Title  -->
<div class="WR_PageTitle">
<h1><i class="fa fa-chevron-circle-right"></i> New Order</h1>
</div>
<!--  Title  -->



<!--  FORM  -->
<div class="WR_Form">
<div class="row">
<div class="col-md-12">
<!-- Error Messages -->
<div class="bg-danger wr_error_messages" ng-show="orderForm.$invalid && submitted">
    <ul class="lst-errors">
        <li ng-show="orderForm.order_customer.$invalid && submitted">Please select customer!</li>
        <li ng-show="orderForm.order_supplier.$invalid && submitted">Please select supplier!</li>
        <li ng-show="orderForm.order_location.$invalid && submitted">Please select location!</li>
        <li ng-show="orderForm.order_plant.$invalid && submitted">Plant cannot be blank!</li>
        <li ng-show="orderForm.order_pickup.$invalid && submitted">Please select pick-up Yes/No !</li>
        <li ng-show="orderForm.order_pickup_date.$invalid && submitted">Please select pick-up date!</li>
        <li ng-show="orderForm.order_arrival_date.$invalid && submitted">Please select arrival date!</li>
        <li ng-show="orderForm.order_stack.$invalid && submitted">Please select stack Yes/No!</li>
    </ul>
</div>
<!-- Error Messages -->
<form class="form-inline" name="orderForm" ng-keypress="keyPress($event)" ng-submit="addOrder(orderForm.$valid)" novalidate>
   <div class="form-group" ng-show="isHideCustomer" ng-class="{ 'has-error' :orderForm.order_customer.$invalid && submitted}">
   <label for="txtcustomer">Customer</label>
   <select class="form-control" name="order_customer" ng-init="setDefaultCustomer()" ng-model="order.order_company_id" ng-options="obj.company_id as obj.company_name for obj in customers " required>
   	<option></option>
   </select>
   </div>
   
   <div class="form-group" ng-show="isHideSupplier" ng-class="{ 'has-error' :orderForm.order_supplier.$invalid && submitted}">
   <label for="txtsuplier">Suplier</label>
      <select class="form-control" id="txtsuplier" name="order_supplier" ng-model="order.order_supplier_id" ng-options="obj.company_id as obj.company_name for obj in companies" required>
      <option></option>
      </select>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' :orderForm.order_location.$invalid && submitted}">
   <label for="txtplant">Location</label>
   	  <select class="form-control" name="order_location" ng-model="order.order_location_id" ng-options="obj.location_id as obj.location_name for obj in locations" required>
      <option></option>
      </select>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' :orderForm.order_plant.$invalid && submitted}">
   <label for="txtplant">Plant</label>
   <input type="text" class="form-control" name="order_plant" ng-model="order.order_plant" required>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' :orderForm.order_pickup.$invalid && submitted}">
   <label for="txtpikup">Pick-Up</label>
   <select class="form-control" ng-init="" name="order_pickup" ng-model="order.order_pickup"  required>
   	<option></option>
   	<option value="1">Yes</option>
    <option value="2">No</option>
   </select>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' :orderForm.order_pickup_date.$invalid && submitted}">
   <label for="txtPickupDate">Pick-Up Date</label>
   <datepicker date-format="yyyy/MM/dd" date-min-limit="{{minDate}}">
   	<input class="form-control" name="order_pickup_date" ng-model="order.order_pickup_day"  required/>
   </datepicker>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' :orderForm.order_arrival_date.$invalid && submitted}">
   <label for="txtArrivalDate">Arrival Day</label>
   <datepicker date-format="yyyy/MM/dd" date-min-limit="{{minDate}}">
   	<input class="form-control" name="order_arrival_date" ng-model="order.order_arrival_day"  required/>
   </datepicker>
   </div>
   
 <div class="form-group" ng-class="{ 'has-error' :orderForm.order_stack.$invalid && submitted}">
   <label for="txtStack">Stack</label>
   <select class="form-control"  ng-init="" name="order_stack" ng-model="order.order_stack"  required>
   	<option></option>
    <option value="1">Yes</option>
    <option value="2">No</option>
   </select>
   </div>
   
   
   <div class="form-group">
   <label for="txtComents">Comments</label>
   <textarea class="form-control" rows="1" ng-model="order.order_comments"></textarea>
   </div>
   
   <button type="submit" class="btn btn-green btn-form">Submit</button>
   
</form>


</div>
</div>
</div>
<!--  FORM  --> 