<!--  Title  -->
<div class="WR_PageTitle">
<h1><i class="fa fa-chevron-circle-right"></i> Batch Import</h1>
</div>
<!--  Title  -->



<!--  FORM  -->
<div class="WR_Form">
<div class="row">
<div class="col-md-12" >

<!-- Error Messages -->
<div class="bg-danger wr_error_messages" ng-show="importForm.$invalid && submitted">
<ul class="lst-errors">
<li ng-show="importForm.customer.$invalid && submitted">Please select a company!</li>
<li ng-show="importForm.file.$invalid && submitted">Please select a file to upload!</li>
</ul>
</div>
<!-- Error Messages -->
<form name="importForm" class="form-inline" ng-keypress="keyPress($event)" ng-submit="uploadCSV(importForm.$valid)" novalidate>
   
   <div class="form-group" ng-show="isHideCustomer" ng-class="{ 'has-error' : importForm.customer.$invalid && submitted}">
   <label for="txtCompany" >Customer </label>
   <select class="form-control" required ng-model="importData.company_id" name="customer" ng-options="obj.company_id as obj.company_name for obj in customers ">
   </select>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' : importForm.file.$invalid && submitted}">
   <label for="txtfullname">Select File</label>
   <input type="file" class="form-control" nv-file-select=""  uploader="uploader" name="file" ng-model="importData.file_name" options="{'alias':'file_name'}" >
   </div>
   
   <button type="submit" class="btn btn-green btn-form" >Submit</button>
   
</form>
</br></br>
<div >
	<div ui-grid="GridOptions" class="grid" ></div>
</div>

</div>


</div>
</div>
<!--  FORM  --> 