<!--  Title  -->
<div class="WR_PageTitle">
<h1><i class="fa fa-chevron-circle-right"></i> <a href="#">Scheduled Events Week 1/11/2016</a> <span class="small">(Generated 1/8/2016 11:48)</span></h1>
</div>
<!--  Title  -->

<!--  Grid Buttons  -->
<div class="WR_GridButtons">
<input name="" type="button" value="+ New Order" class="btn btn-green" ng-click="go('add-new-order');">
<input name="" type="button" value="+ Import" class="btn btn-green" ng-click="go('');" >
</div>
<!--  Grid Buttons  -->

<!--  ANGULAR GRID  -->
<div >
	<div id="grid1" ui-grid="gridOptions" class="grid"></div>
</div>
<!--  ANGULAR GRID  -->  
<script type="text/javascript">
	var tmp = $(window).height() - $('#header').height() - $('#footer').height()-220
	$('.grid').css({'height':tmp})
</script>