<!--  Title  -->
<div class="WR_PageTitle">
<h1><i class="fa fa-chevron-circle-right"></i> Change Password</h1>
</div>
<!--  Title  -->



<!--  FORM  -->
<div class="WR_Form">
<div class="row">
<div class="col-md-12">

<!-- Error Messages -->
<div class="bg-danger wr_error_messages" ng-show="passwordForm.$invalid && submitted">
<ul class="lst-errors">
<li ng-show="passwordForm.old_password.$invalid && submitted">Old password could not be blank!</li>
<li ng-show="passwordForm.new_password.$invalid && submitted">New password could not be blank!</li>
<li ng-show="passwordForm.confirm_password.$invalid && submitted">Confirm password could not be blank!</li>
</ul>
</div>
<!-- Error Messages -->

<form name="passwordForm" class="form-inline" ng-keypress="keyPress($event)" ng-submit="changePass(passwordForm.$valid)" novalidate>
   
   <div class="form-group" ng-class="{ 'has-error' : passwordForm.old_password.$invalid && submitted}">
   <label for="txtCompany" >Old Password</label>
   <input type="password" class="form-control" id="txtCompany" name="old_password" ng-model="password.old_password" required>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' : passwordForm.new_password.$invalid && submitted}">
   <label for="txtCompany" >New Password </label>
   <input type="password" class="form-control" id="txtCompany" name="new_password" ng-model="password.new_password" required>
   </div>
   
   <div class="form-group" ng-class="{ 'has-error' : passwordForm.new_password.$invalid && submitted}">
   <label for="txtfullname">Confirm Password</label>
   <input type="password" class="form-control" id="txtfullname" name="confirm_password" ng-model="password.confirm_password" required>
   </div>
   
   <button type="submit" class="btn btn-green btn-form" >Submit</button>
   
</form>


</div>
</div>
</div>
<!--  FORM  --> 